@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

* {
    font-family: 'Almarai', sans-serif;

}

.text-color-pr {
    color: #48a8d8ff;
}

.bg-color-pr {
    background-color: #48a8d8ff;
}



.toy1 {
    width: 150px;
    height: 150px;
    left: 0;
    filter: blur(100px);
    position: absolute;
    z-index: 1;
    background-color: #4c88f8ae;
}

.hero {
    background-image: url(../img/blankpaper1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.main {
    background-image: url(../img/doddle-chemistry-chemical-formulas-tuy5q0hvwki0yyli-removebg-preview.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.my-bg-btn{
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    color: white;
}